body {
  position: relative;
  margin: 0;
}

form { margin: 0; }

button, input {
  padding: 5px 10px;
}

li {
  list-style: none;
}

a {
  color: #ccc;
  text-decoration: none;
  display: inline-block
}

.show-item {
  display: block !important;
}

.hide-item {
  display: none !important;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-todo, .info {
  padding-left: 5px;
}

.new-type-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 auto;
  background-color: #ccc;
  height: 100vh;
}


.new-type-form button, .new-type-form input,
.filters-wrapper button, .filters-wrapper select {
  width: 100%;
}
